@import "./variables.module.scss";

%container {
  max-width: 1280px;
  margin: auto;
  padding: 20px;
}

%main-heading {
  font-size: 60px;
  color: $gray-1000;
  line-height: 1.1;
  font-weight: 900;
}
%desc{
  font-size: 16px;
  line-height: 1.6;
  color: $gray-500;
  font-weight: 500;
}

%heading-medium {
  font-size: 24px;
  font-weight: 700;
  color: $gray-1000;
  &:hover {
    text-decoration: none;
  }
}

%lable-heading {
  text-transform: uppercase;
  color: $base-color;
  font-weight: bold;
}

%base-btn{
  padding: 12px 30px;
  background-color: $base-color;
  color: $light;
  outline: 1px solid $base-color;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  &:hover{
    color: $base-color;
    background-color: $light;
    outline: 1px solid $base-color;
  }

}
